body {
  background-color: rgba(255, 248, 220);
}

hr {
  background-color: rgba(139, 69, 19);
  border-top: 2px dashed #8c8b8b;
}
a {
  background-color: rgba(94, 70, 61);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  background-color: #ce0606;
  cursor: pointer;
}
input, textarea {
  background-color: #FFFAF0;
}
hr {
  background-color:white;
  heigth:2px;
}
h1, h2, h3 {
  color: #363945;
}
